@page "/"

<PageTitle>Scrum Trainer</PageTitle>

<section id="hero">
    <div class="hero-content">
        <h1>Boost Your Path to Becoming a Scrum Master</h1>
        <p>Practice exam-like questions, build confidence, and get ready to pass the PSM I certification with Scrum Trainer.</p>
        <a href="/quiz" class="hero-btn">Start Training</a>
    </div>
</section>

<section id="home">

    <h1>Welcome to <strong>Scrum Trainer</strong></h1>

    
    

    <p>
        <strong>Scrum Trainer</strong> is a web application designed to help you prepare for the 
        <strong>Professional Scrum Master (PSM I)</strong> certification from <em>Scrum.org</em>. 
        Here you can practice with a wide set of questions inspired by the real exam format, 
        improve your knowledge of Scrum, and increase your chances of achieving your certification successfully.
    </p>

    <p>
        You can start training instantly — no registration or login required.  
        Just access the <strong>Quiz</strong> section and click <strong>"Start"</strong> to begin a timed simulation.  
        You will answer single or multiple-choice questions, navigate forward and backward, and finish at any time using the <strong>"Finish"</strong> button.  
        If the countdown reaches zero, the quiz will end automatically and your score will be displayed.
    </p>

    <p>
        After completing a quiz, you will be able to review all your answers — both correct and incorrect — 
        so you can learn, improve, and track your progress. In future versions, you will also have the option to create an account 
        to save your historical results and monitor your evolution over time.
    </p>

    <p>
        Train with real-like scenarios. Strengthen your understanding of Scrum. Get closer to becoming a certified Scrum Master.
    </p>

    <p>
        Start your journey now — your next step to becoming a Scrum Master begins here.
    </p>
    <div class="button-area">
        <a href="/quiz" class="hero-alt-btn">Start Training</a>
    </div>
</section>
